In [133]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import nbconvert
import plotly.express as px

In [134]:
estate = pd.read_csv('_data.csv')
# estate.columns

In [135]:
# Информация о структуре датасета
estate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23368 entries, 0 to 23367
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                23368 non-null  int64
 1   ID  объявления            23368 non-null  int64
 2   Количество комнат         22327 non-null  object
 3   Тип                       23368 non-null  object
 4   Метро                     22053 non-null  object
 5   Адрес                     23368 non-null  object
 6   Площадь, м2               23368 non-null  object
 7   Дом                       23368 non-null  object
 8   Парковка                  9951 non-null   object
 9   Цена                      23368 non-null  object
 10  Телефоны                  23368 non-null  object
 11  Описание                  23368 non-null  object
 12  Ремонт                    20613 non-null  object
 13  Площадь комнат, м2        14458 non-null  object
 14  Балкон                    15390 non-null  object
 15  Окна                      16755 non-null  object
 16  Санузел                   20696 non-null  object
 17  Можно с детьми/животными  17272 non-null  object
 18  Дополнительно             23011 non-null  object
 19  Название ЖК               5848 non-null   object
 20  Серия дома                2163 non-null   object
 21  Высота потолков, м        11206 non-null  float64
 22  Лифт                      17868 non-null  object
 23  Мусоропровод              12846 non-null  object
 24  Ссылка на объявление      23368 non-null  object
dtypes: float64(1), int64(2), object(22)
memory usage: 4.5+ MB

In [136]:
# Основные статистические характеристики
df=estate.describe(include='all')
df=df.head(1)
#оставляем

In [137]:
estate=estate[estate["Адрес"]. str.contains ("Москва")]

Проверяем на пропущенные значения в каждой колонке, т.к. наполненность столбцов повлияет на возможность их использования.
Строк, полностью состоящих из Nan не найдено.

In [138]:
#замена всех нанов на 'значения отсутствуют', чтобы получить отображение на графике
# estate=estate.fillna('значения отсутствуют')

In [139]:
estate=estate[['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Метро','Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 
       'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Высота потолков, м', 'Лифт', 'Мусоропровод']]
estate.head()
df=estate.head(3)

Некоторыми столбцами можно пренебречь, поэтому далее их не рассматриваем. Так, например, в колонке "Тип" перечислены только квартиры, а название ЖК почти нигде не заполнено - такие столбцы пользы не принесут.

In [140]:
#сюда добавить индексацию с удалением unknown

Далее мы изучили столбец с количеством комнат.

Глядя на график, мы понимаем, что в столбце кол-во комнат можем использовать дополнительное разделение

In [141]:


estate[['Количество комнат (число)', 'Описание комнат']] = estate['Количество комнат'].str.split(',', n=1, expand=True).apply(lambda x: x.str.strip())
# estate.head()

Изучим данные по парковке

Большая часть строк в столбце без данных, но поскольку парковка при аренде большое преимущество, данный столбец оставляем в работе.

Далее мы изучили столбец с данными по дому и решили разбить его на составляющие - этаж, на котором расположена квартира, общее количество этажей в доме и тип дома.

In [142]:

estate[['этажность','тип дома']]=estate['Дом'].str.split(',', expand=True)
estate['этаж']=estate['этажность'].str.split('/').str[0]
estate['этажность']=estate['этажность'].str.split('/').str[-1]
# estate=estate.fillna('значения отсутствуют')
unique_values = estate['этаж'].unique()
estate.head()

,Unnamed: 0,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Описание,...,Дополнительно,Название ЖК,"Высота потолков, м",Лифт,Мусоропровод,Количество комнат (число),Описание комнат,этажность,тип дома,этаж
0,0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Без комиссии для нанимателя! Бонус коллегам 12...,...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",3.0,"Пасс (4), Груз (1)",Да,4,None,16,Монолитный,5
1,1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,3.5,"Пасс (1), Груз (1)",Нет,4,None,16,Монолитно-кирпичный,5
2,2,271173086,"4, Оба варианта",м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,3.2,Пасс (1),NaN,4,Оба варианта,16,None,5
3,3,272197456,"4, Оба варианта",м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",ID 31618: Эксклюзивное предложение. Современн...,...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,3.2,Пасс (1),NaN,4,Оба варианта,6,None,5
4,4,273614615,2,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,3.9,"Пасс (1), Груз (1)",Да,2,None,26,Панельный,12

На графике видно, что хотя там внушительная доля нанов, она не больше половины, как мы думали первоначально

In [143]:
house2=estate[['Unnamed: 0','Площадь, м2']]
# house[['этажность','тип дома']]=house['Дом'].str.split(',', expand=True)
house2['Площадь, м2']=house2['Площадь, м2'].str.split('/').str[0]
# house['Площадь, м2'].plot(kind='bar')
# house2.head()

/tmp/ipykernel_8673/434621355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house2['Площадь, м2']=house2['Площадь, м2'].str.split('/').str[0]

In [144]:
# здесь мы еше убрали питер
#metro=estate[['Unnamed: 0','Метро']]
# metro=estate[estate["Адрес"]. str.contains ("Москва")][['Unnamed: 0','Метро']]
estate[['название станции', 'удаленность']] = estate['Метро'].str.split('(', expand=True)
estate['удаленность'] = estate['удаленность'].str.replace(r'\)$', '')
estate[['минуты', 'тип_транспорта']] = estate['удаленность'].str.split(" мин ", expand=True)



# estate[['этажность','тип дома']]=estate['Дом'].str.split(',', expand=True)
# estate['этаж']=estate['этажность'].str.split('/').str[0]
# estate['этажность']=estate['этажность'].str.split('/').str[-1]
# stations=metro['название станции'].unique()
# print(stations)

/tmp/ipykernel_8673/586467536.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  estate['удаленность'] = estate['удаленность'].str.replace(r'\)$', '')

Исследуя столбец с ценами, мы увидели, что потребуется дополнительное деление на разные колонки или как минимум оставить стоимость за месяц.

In [145]:
# a=(str(estate.loc[0,['Цена']]))
# print(a)
#Тут видно, что нужно делить на разные колонки или как минимум оставить стоимость за месяц

In [146]:
price=estate[['Unnamed: 0','Цена']] 
price['Цена за месяц']=price['Цена'].str.split('руб.', expand=True)[0] 
#new_df = new_df.astype({np.float})


# sns.histplot(x='Цена за месяц', data=new_df)

#Улюм, ты ничего не видел! Комментарий для Саши и Вероники: тупо выделила оплату за месяц, нашла еще как отдельно в строке забрать цифры, 
# но не понимаю, чем пригодится нам залог и срок сдачи в аренду (там тем более не цифры)
# Может пригодится: https://younglinux.info/python/task/filter-integer

/tmp/ipykernel_8673/1540345305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['Цена за месяц']=price['Цена'].str.split('руб.', expand=True)[0]

In [147]:
# price.describe(include='all')
#походу строки остались, не перевели еще в числа

In [148]:
# #Исследую столбец с ремонтом
# estate['Ремонт'].nunique()

Далее мы исследовали столбец с ремонтом. Типов ремонта всего 4, так что для наглядности построим гистограмму

In [149]:
#Исследую столбец с площадью комнат
# estate['Площадь комнат, м2'].nunique()

Обратим внимание на столбец с площадью комнат. Видно, что сумма площадей комнат является суммой, которая указана после общей площади в столбце 'Площадь, м2'

In [150]:
#  посмотрим какая информация в этом столбце:
b=(str(estate.loc[0:10,['Площадь комнат, м2', 'Площадь, м2']]))
print(b)
#Опачки, а сумма площадей комнат - это второе число сразу после слеша в колонке площадь, только полюбуйтесь:

   Площадь комнат, м2       Площадь, м2
0                 NaN        200.0/20.0
1         25 25 20 25   198.0/95.0/18.0
2                 NaN   200.0/116.0/4.0
3         14-42-20-19   170.0/95.0/17.0
4               20 18     58.0/38.0/5.0
5                 NaN              92.0
6      43-25-25-25-22  213.0/140.0/20.0
7            26 22 15     98.0/63.0/9.0
8            45 25 25   120.0/95.0/10.0
9         16 14 16 20    90.0/66.0/10.0
10        16-40-20-18   170.0/94.0/10.0

In [151]:
#Исследую столбец с балконами
# estate['Балкон'].nunique()

Проанализируем наличие и количество балконов.

In [152]:
#Исследую столбец с окнами
# estate['Окна'].nunique()

Исследуем столбец с окнами: в основном окна выходят во двор.

Перейдем к санузлам

Теперь к колонке, в которой указана возможность аренды с детьми и/или животными:

Поглядим на информацию по лифтам:

In [153]:
# estate['Лифт'].isna().sum()

Наличие мусоропровод также интересно проанализировать:

In [154]:
# estate['Мусоропровод'].isna().sum()

In [155]:
additionally = estate['Дополнительно'].str.split(',', expand=True)
df=additionally.head(5)

Остался столбец "дополнительно". В каждой кварире  разное количество техники, мебели и т.д.Этот столбец в дальнейшем можем заменить на сумму баллов.

In [156]:
# %%capture
# !jupyter nbconvert --to pdf --TemplateExporter.exclude_input=True ~/Rent_real_Estate_phase0/EDA.ipynb

# %%capture
# !jupyter nbconvert --to pdf --template=classic ~/Rent_real_Estate_phase0/EDA.ipynb
# !open ~/Desktop/VALIOTTI/Reports/Sample\ LaTeX\ EDA.pdf
!jupyter nbconvert --to html --template=classic --TemplateExporter.exclude_input=True ~/Rent_real_Estate_phase0/EDA.ipynb

[NbConvertApp] Converting notebook /home/nika/Rent_real_Estate_phase0/EDA.ipynb to html
[NbConvertApp] Writing 718671 bytes to /home/nika/Rent_real_Estate_phase0/EDA.html

In [157]:
estate.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Описание', 'Ремонт',
       'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Количество комнат (число)', 'Описание комнат', 'этажность', 'тип дома',
       'этаж', 'название станции', 'удаленность', 'минуты', 'тип_транспорта'],
      dtype='object')

In [159]:
data=estate[['ID  объявления',
       'Площадь, м2', 'Парковка', 'Цена', 'Ремонт',
       'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно',
       'Лифт', 'Мусоропровод',
       'Количество комнат (число)', 'Описание комнат', 'этажность', 'тип дома',
       'этаж', 'название станции', 'минуты', 'тип_транспорта']]
data.head()

,ID объявления,"Площадь, м2",Парковка,Цена,Ремонт,Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Лифт,Мусоропровод,Количество комнат (число),Описание комнат,этажность,тип дома,этаж,название станции,минуты,тип_транспорта
0,271271157,200.0/20.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Пасс (4), Груз (1)",Да,4,None,16,Монолитный,5,м. Смоленская,9,пешком
1,271634126,198.0/95.0/18.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Пасс (1), Груз (1)",Нет,4,None,16,Монолитно-кирпичный,5,м. Смоленская,8,пешком
2,271173086,200.0/116.0/4.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Пасс (1),NaN,4,Оба варианта,16,None,5,м. Смоленская,7,пешком
3,272197456,170.0/95.0/17.0,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Пасс (1),NaN,4,Оба варианта,6,None,5,м. Смоленская,3,пешком
4,273614615,58.0/38.0/5.0,NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Пасс (1), Груз (1)",Да,2,None,26,Панельный,12,м. Арбатская,7,пешком

In [160]:
data.isnull().mean() * 100

ID  объявления                0.000000
Площадь, м2                   0.000000
Парковка                     56.614480
Цена                          0.000000
Ремонт                       12.479100
Балкон                       33.591731
Окна                         26.093125
Санузел                      10.340984
Можно с детьми/животными     24.902467
Дополнительно                 1.378122
Лифт                         21.239297
Мусоропровод                 40.568475
Количество комнат (число)     2.710645
Описание комнат              59.634190
этажность                     0.000000
тип дома                     15.052946
этаж                          0.000000
название станции              1.753053
минуты                        1.753053
тип_транспорта                1.753053
dtype: float64

На текущем этапе заменяем все пропуски данных на 'неизвестно' и проверяем:

In [161]:
data = data.fillna('неизвестно')
data.isnull().mean() * 100

ID  объявления               0.0
Площадь, м2                  0.0
Парковка                     0.0
Цена                         0.0
Ремонт                       0.0
Балкон                       0.0
Окна                         0.0
Санузел                      0.0
Можно с детьми/животными     0.0
Дополнительно                0.0
Лифт                         0.0
Мусоропровод                 0.0
Количество комнат (число)    0.0
Описание комнат              0.0
этажность                    0.0
тип дома                     0.0
этаж                         0.0
название станции             0.0
минуты                       0.0
тип_транспорта               0.0
dtype: float64

Переводим все столбцы в латиницу:

In [163]:

rename_dict = {'ID  объявления':'ID', 'Количество комнат (число)':'Number_of_rooms', 'Тип':'Type', 'Метро':'Metro',
 'Адрес':'Address', 'Площадь, м2':'Area_apartment', 'Дом':'House', 'Парковка':'Parking', 'Цена':'Price', 'Телефоны':'Phones', 'Описание':'Description_room',
 'Ремонт':'Repair', 'Площадь комнат, м2':'Room_area', 'Балкон':'Balcony', 'Окна':'Windows', 'Санузел':'Bathroom', 'Можно с детьми/животными':'Possible_children_animals',
 'Дополнительно':'Additionally', 'Название ЖК':'Name_residential_complex', 'Серия дома': 'House_series', 'Высота потолков, м':'Ceiling_height', 'Лифт':'Elevator',
 'Мусоропровод':'Garbage', 'Ссылка на объявление':'Link','Описание комнат': 'Description_rooms',
    'этажность': 'Floors',
    'тип дома': 'House_type',
    'этаж': 'Floor',
    'название станции': 'Station_name',
    'минуты': 'Minutes',
    'тип_транспорта': 'Transport_type'}
data.rename(columns=rename_dict, inplace=True)
data.columns

Index(['ID', 'Area_apartment', 'Parking', 'Price', 'Repair', 'Balcony',
       'Windows', 'Bathroom', 'Possible_children_animals', 'Additionally',
       'Elevator', 'Garbage', 'Number_of_rooms', 'Description_rooms', 'Floors',
       'House_type', 'Floor', 'Station_name', 'Minutes', 'Transport_type'],
      dtype='object')

сохраняем все в файл csv

In [164]:
data.to_csv('data.csv', index=False)