In [60]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import nbconvert
# import plotly.express as px

In [61]:
estate = pd.read_csv('_data.csv')
estate.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Тип', 'Метро',
       'Адрес', 'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны',
       'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление'],
      dtype='object')

In [62]:
# Информация о структуре датасета
estate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23368 entries, 0 to 23367
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                23368 non-null  int64
 1   ID  объявления            23368 non-null  int64
 2   Количество комнат         22327 non-null  object
 3   Тип                       23368 non-null  object
 4   Метро                     22053 non-null  object
 5   Адрес                     23368 non-null  object
 6   Площадь, м2               23368 non-null  object
 7   Дом                       23368 non-null  object
 8   Парковка                  9951 non-null   object
 9   Цена                      23368 non-null  object
 10  Телефоны                  23368 non-null  object
 11  Описание                  23368 non-null  object
 12  Ремонт                    20613 non-null  object
 13  Площадь комнат, м2        14458 non-null  object
 14  Балкон                    15390 non-null  object
 15  Окна                      16755 non-null  object
 16  Санузел                   20696 non-null  object
 17  Можно с детьми/животными  17272 non-null  object
 18  Дополнительно             23011 non-null  object
 19  Название ЖК               5848 non-null   object
 20  Серия дома                2163 non-null   object
 21  Высота потолков, м        11206 non-null  float64
 22  Лифт                      17868 non-null  object
 23  Мусоропровод              12846 non-null  object
 24  Ссылка на объявление      23368 non-null  object
dtypes: float64(1), int64(2), object(22)
memory usage: 4.5+ MB

In [63]:
# Основные статистические характеристики
df=estate.describe(include='all')
df=df.head(1)
#оставляем

In [64]:
estate=estate[estate["Адрес"]. str.contains ("Москва")]

Проверяем на пропущенные значения в каждой колонке, т.к. наполненность столбцов повлияет на возможность их использования.
Строк, полностью состоящих из Nan не найдено.

In [65]:
#замена всех нанов на 'значения отсутствуют', чтобы получить отображение на графике
# estate=estate.fillna('значения отсутствуют')

In [66]:
adr_tel = estate[['Адрес', 'Телефоны']]
adr_tel.head(20)
estate.drop_duplicates(['Адрес', 'Телефоны'])

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.00,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.50,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.20,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.20,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.90,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,23363,215565511,NaN,Квартира,м. Говорово (8 мин пешком),"Москва, Боровское шоссе, 2к7, ш. Боровское (3 ...",35.0/16.4/8.0,10/14,NaN,"42000.0 руб./ За месяц, Залог - 42000 руб., Ко...",...,NaN,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Мещерский лес,NaN,NaN,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/215565511
23364,23364,274654844,1,Квартира,м. Солнцево (7 мин пешком),"Москва, Производственная улица, 8к1, ш. Боровс...",38.7/16.5/11.0,"5/18, Монолитный",NaN,"45000.0 руб./ За месяц, Залог - 45000 руб., Ко...",...,Во двор,Совмещенный (1),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",Лучи,NaN,NaN,"Пасс (1), Груз (1)",NaN,https://www.cian.ru/rent/flat/274654844
23365,23365,268679909,"2, Оба варианта",Квартира,м. Солнцево (6 мин пешком),"Москва, Боровский проезд, 11",43.1,"5/5, Кирпичный",NaN,"50000.0 руб./ За месяц, Залог - 50000 руб., Ко...",...,На улицу и двор,Совмещенный (1),Можно с детьми,"Мебель на кухне, Душевая кабина, Стиральная ма...",NaN,NaN,NaN,NaN,NaN,https://www.cian.ru/rent/flat/268679909
23366,23366,274807525,2,Квартира,м. Солнцево (11 мин пешком),"Москва, улица Богданова, 6к1, ш. Боровское (3 ...",52.5/10.0,"8/23, Монолитный",наземная,"55000.0 руб./ За месяц, Залог - 50000 руб., Ко...",...,Во двор,"Совмещенный (1), Раздельный (1)",NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,2.65,Пасс (3),Да,https://www.cian.ru/rent/flat/274807525
23367,23367,274672243,"2, Оба варианта",Квартира,м. Говорово (10 мин пешком),"Москва, улица Богданова, 2к1, ш. Боровское (3 ...",90.0/48.2/15.5,"6/23, Панельный",NaN,"57000.0 руб./ За месяц, Залог - 60000 руб., Ко...",...,Во двор,Раздельный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Сти...",NaN,NaN,NaN,Пасс (3),Да,https://www.cian.ru/rent/flat/274672243

In [67]:
estate.info()
#xчтобы убедиться,что дубли убарали

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19737 entries, 0 to 23367
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                19737 non-null  int64
 1   ID  объявления            19737 non-null  int64
 2   Количество комнат         19202 non-null  object
 3   Тип                       19737 non-null  object
 4   Метро                     19391 non-null  object
 5   Адрес                     19737 non-null  object
 6   Площадь, м2               19737 non-null  object
 7   Дом                       19737 non-null  object
 8   Парковка                  8563 non-null   object
 9   Цена                      19737 non-null  object
 10  Телефоны                  19737 non-null  object
 11  Описание                  19737 non-null  object
 12  Ремонт                    17274 non-null  object
 13  Площадь комнат, м2        12509 non-null  object
 14  Балкон                    13107 non-null  object
 15  Окна                      14587 non-null  object
 16  Санузел                   17696 non-null  object
 17  Можно с детьми/животными  14822 non-null  object
 18  Дополнительно             19465 non-null  object
 19  Название ЖК               4456 non-null   object
 20  Серия дома                2091 non-null   object
 21  Высота потолков, м        10535 non-null  float64
 22  Лифт                      15545 non-null  object
 23  Мусоропровод              11730 non-null  object
 24  Ссылка на объявление      19737 non-null  object
dtypes: float64(1), int64(2), object(22)
memory usage: 3.9+ MB

In [68]:
estate=estate[['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Метро','Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 
       'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Высота потолков, м', 'Лифт', 'Мусоропровод']]
estate.head()
df=estate.head(3)

Некоторыми столбцами можно пренебречь, поэтому далее их не рассматриваем. Так, например, в колонке "Тип" перечислены только квартиры, а название ЖК почти нигде не заполнено - такие столбцы пользы не принесут.

In [69]:
#сюда добавить индексацию с удалением unknown

Далее мы изучили столбец с количеством комнат.

Глядя на график, мы понимаем, что в столбце кол-во комнат можем использовать дополнительное разделение

In [70]:


estate[['Количество комнат (число)', 'Описание комнат']] = estate['Количество комнат'].str.split(',', n=1, expand=True).apply(lambda x: x.str.strip())
# estate.head()

Изучим данные по парковке

Большая часть строк в столбце без данных, но поскольку парковка при аренде большое преимущество, данный столбец оставляем в работе.

Далее мы изучили столбец с данными по дому и решили разбить его на составляющие - этаж, на котором расположена квартира, общее количество этажей в доме и тип дома.

In [71]:

estate[['этажность','тип дома']]=estate['Дом'].str.split(',', expand=True)
estate['этаж']=estate['этажность'].str.split('/').str[0]
estate['этажность']=estate['этажность'].str.split('/').str[-1]
# estate=estate.fillna('значения отсутствуют')
unique_values = estate['этаж'].unique()
estate.head()

,Unnamed: 0,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Описание,...,Дополнительно,Название ЖК,"Высота потолков, м",Лифт,Мусоропровод,Количество комнат (число),Описание комнат,этажность,тип дома,этаж
0,0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Без комиссии для нанимателя! Бонус коллегам 12...,...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",3.0,"Пасс (4), Груз (1)",Да,4,None,16,Монолитный,5
1,1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,3.5,"Пасс (1), Груз (1)",Нет,4,None,16,Монолитно-кирпичный,5
2,2,271173086,"4, Оба варианта",м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,3.2,Пасс (1),NaN,4,Оба варианта,16,None,5
3,3,272197456,"4, Оба варианта",м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",ID 31618: Эксклюзивное предложение. Современн...,...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,3.2,Пасс (1),NaN,4,Оба варианта,6,None,5
4,4,273614615,2,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,...,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,3.9,"Пасс (1), Груз (1)",Да,2,None,26,Панельный,12

На графике видно, что хотя там внушительная доля нанов, она не больше половины, как мы думали первоначально

In [72]:
house2=estate[['Unnamed: 0','Площадь, м2']]
# house[['этажность','тип дома']]=house['Дом'].str.split(',', expand=True)
house2['Площадь, м2']=house2['Площадь, м2'].str.split('/').str[0]
# house['Площадь, м2'].plot(kind='bar')
# house2.head()

/tmp/ipykernel_9623/2409224924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house2['Площадь, м2']=house2['Площадь, м2'].str.split('/').str[0]

In [73]:
# здесь мы еше убрали питер
#metro=estate[['Unnamed: 0','Метро']]
# metro=estate[estate["Адрес"]. str.contains ("Москва")][['Unnamed: 0','Метро']]
estate[['название станции', 'удаленность']] = estate['Метро'].str.split('(', expand=True)
estate['удаленность'] = estate['удаленность'].str.replace(r'\)$', '')
estate[['минуты', 'тип_транспорта']] = estate['удаленность'].str.split(" мин ", expand=True)



# estate[['этажность','тип дома']]=estate['Дом'].str.split(',', expand=True)
# estate['этаж']=estate['этажность'].str.split('/').str[0]
# estate['этажность']=estate['этажность'].str.split('/').str[-1]
# stations=metro['название станции'].unique()
# print(stations)

/tmp/ipykernel_9623/586467536.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  estate['удаленность'] = estate['удаленность'].str.replace(r'\)$', '')

Исследуя столбец с ценами, мы увидели, что потребуется дополнительное деление на разные колонки или как минимум оставить стоимость за месяц.

In [74]:
# a=(str(estate.loc[0,['Цена']]))
# print(a)
#Тут видно, что нужно делить на разные колонки или как минимум оставить стоимость за месяц

In [75]:
price=estate[['Unnamed: 0','Цена']] 
price['Цена за месяц']=price['Цена'].str.split('руб.', expand=True)[0] 
#new_df = new_df.astype({np.float})


# sns.histplot(x='Цена за месяц', data=new_df)

#Улюм, ты ничего не видел! Комментарий для Саши и Вероники: тупо выделила оплату за месяц, нашла еще как отдельно в строке забрать цифры, 
# но не понимаю, чем пригодится нам залог и срок сдачи в аренду (там тем более не цифры)
# Может пригодится: https://younglinux.info/python/task/filter-integer

/tmp/ipykernel_9623/1540345305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['Цена за месяц']=price['Цена'].str.split('руб.', expand=True)[0]

In [76]:
# price.describe(include='all')
#походу строки остались, не перевели еще в числа

In [77]:
# #Исследую столбец с ремонтом
# estate['Ремонт'].nunique()

Далее мы исследовали столбец с ремонтом. Типов ремонта всего 4, так что для наглядности построим гистограмму

In [78]:
#Исследую столбец с площадью комнат
# estate['Площадь комнат, м2'].nunique()

Обратим внимание на столбец с площадью комнат. Видно, что сумма площадей комнат является суммой, которая указана после общей площади в столбце 'Площадь, м2'

In [79]:
#  посмотрим какая информация в этом столбце:
b=(str(estate.loc[0:10,['Площадь комнат, м2', 'Площадь, м2']]))
print(b)
#Опачки, а сумма площадей комнат - это второе число сразу после слеша в колонке площадь, только полюбуйтесь:

   Площадь комнат, м2       Площадь, м2
0                 NaN        200.0/20.0
1         25 25 20 25   198.0/95.0/18.0
2                 NaN   200.0/116.0/4.0
3         14-42-20-19   170.0/95.0/17.0
4               20 18     58.0/38.0/5.0
5                 NaN              92.0
6      43-25-25-25-22  213.0/140.0/20.0
7            26 22 15     98.0/63.0/9.0
8            45 25 25   120.0/95.0/10.0
9         16 14 16 20    90.0/66.0/10.0
10        16-40-20-18   170.0/94.0/10.0

In [80]:
#Исследую столбец с балконами
# estate['Балкон'].nunique()

Проанализируем наличие и количество балконов.

In [81]:
#Исследую столбец с окнами
# estate['Окна'].nunique()

Исследуем столбец с окнами: в основном окна выходят во двор.

Перейдем к санузлам

Теперь к колонке, в которой указана возможность аренды с детьми и/или животными:

Поглядим на информацию по лифтам:

In [82]:
# estate['Лифт'].isna().sum()

Наличие мусоропровод также интересно проанализировать:

In [83]:
# estate['Мусоропровод'].isna().sum()

In [84]:
additionally = estate['Дополнительно'].str.split(',', expand=True)
df=additionally.head(5)

Остался столбец "дополнительно". В каждой кварире  разное количество техники, мебели и т.д.Этот столбец в дальнейшем можем заменить на сумму баллов.

In [85]:
# %%capture
# !jupyter nbconvert --to pdf --TemplateExporter.exclude_input=True ~/Rent_real_Estate_phase0/EDA.ipynb

# %%capture
# !jupyter nbconvert --to pdf --template=classic ~/Rent_real_Estate_phase0/EDA.ipynb
# !open ~/Desktop/VALIOTTI/Reports/Sample\ LaTeX\ EDA.pdf
!jupyter nbconvert --to html --template=classic --TemplateExporter.exclude_input=True ~/Rent_real_Estate_phase0/EDA.ipynb

[NbConvertApp] Converting notebook /home/nika/Rent_real_Estate_phase0/EDA.ipynb to html
[NbConvertApp] Writing 718671 bytes to /home/nika/Rent_real_Estate_phase0/EDA.html

In [86]:
estate.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Описание', 'Ремонт',
       'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Количество комнат (число)', 'Описание комнат', 'этажность', 'тип дома',
       'этаж', 'название станции', 'удаленность', 'минуты', 'тип_транспорта'],
      dtype='object')

Создаем словарь для привязки станции метро к расположению квартиры относительно центра (4 - центр, 1- подмосковье)

In [87]:
Centr=['м. Смоленская ', 'м. Арбатская ', 'м. Кропоткинская ',
  'м. Александровский сад ', 'м. Киевская ', 'м. Библиотека им. Ленина ',
 'м. Боровицкая ', 'м. Баррикадная ', 'м. Краснопресненская ' ,
 'м. Достоевская ', 'м. Кузнецкий мост ', 'м. Сухаревская ',
 'м. Проспект Мира ', 'м. Цветной бульвар ', 'м. Трубная ',
 'м. Комсомольская ' , 'м. Сретенский бульвар ',
 'м. Тургеневская ', 'м. Марьина роща ', 
 'м. Павелецкая ', 'м. Третьяковская ',
 'м. Новокузнецкая ', 'м. Добрынинская ', 'м. Таганская ',
 'м. Охотный ряд ', 
 'м. Белорусская ', 'м. Маяковская ', 'м. Чистые пруды ', 'м. Октябрьская ',
 'м. Лубянка ' ,'м. Новослободская ', 'м. Парк Культуры ',
 'м. Курская ' , 'м. Пушкинская ', 'м. Тверская ',
 'м. Спортивная ' , 'м. Китай-город ' ,
 'м. Полянка ', 'м. Чеховская ' ,
 'м. Менделеевская ' ,
 'м. Чкаловская ', 'м. Марксистская ', 'м. Театральная ', 'м. Серпуховская ']
Subcentr=[ 'м. Площадь Ильича ', 'м. Автозаводская ','м. Улица 1905 года ' ,'м. Дмитровская ', 'м. Фрунзенская ', 'м. Лужники ' ,
           'м. Красные ворота ', 'м. Римская ' ,'м. Сокольники ' ,'м. Бауманская ' ,'м. Угрешская ' ,
           'м. Семеновская ', 'м. Соколиная гора ', 'м. Электрозаводская ', 'м. Авиамоторная ',
 'м. Волгоградский проспект ', 'м. Пролетарская ', 'м. Воробьевы горы ', 'м. Крестьянская застава ','м. Красносельская ',
 'м. Дубровка ', 'м. ЗИЛ ' ,'м. Деловой центр ' ,'м. Коломенская ' ,'м. Кожуховская ',
 'м. Тестовская ','м. ЦСКА ' ,'м. Петровский Парк ', 'м. Шаболовская', 'м. Технопарк ', 'м. Печатники ',
 'м. Беговая ', 'м. Ботанический сад ' ,'м. ВДНХ ', 'м. Ростокино ' ,'м. Выставочный центр ' ,'м. Бутырская ',
 'м. Савеловская ', 'м. Царицыно ',
 'м. Алексеевская ', 'м. Фонвизинская ','м. Тульская ',
 'м. Тимирязевская ', 'м. Рижская ','м. Октябрьское поле ', 'м. Зорге ', 'м. Парк Победы ' ]
Outskirts=[  'м. Алтуфьево ' , 'м. Ховрино ' ,'м. Селигерская ' ,'м. Лианозово '
 'м. Депо ' , 'м. Ленинский проспект ',
 'м. Пражская ' ,'м. Алма-Атинская ', 'м. Каланчёвская ', 'м. Академическая ' ,'м. Профсоюзная ', 'м. Спартак ',
 'м. Гражданская ', 'м. Динамо ' ,'м. Новогиреево ' ,'м. Перово ',
 'м. Лухмановская ' , 'м. Улица Дмитриевского ',
 'м. Новокосино ', 'м. Андроновка ' , 'м. Улица Скобелевская ',
 'м. Улица Горчакова ' ,'м. Бунинская аллея ',
 'м. Бульвар Дмитрия Донского ', 'м. Бульвар Адмирала Ушакова ',
 'м. Бутово ' ,'м. Воронцовская ' , 'м. Мневники ',
   'м. Хорошевская ', 'м. Красный Строитель ',
 'м. Боровское шоссе ', 'м. Рассказовка ', 'м. Нахабино ' ,'м. Пионерская ',
 'м. Трикотажная ', 'м. Саларьево ', 'м. Румянцево ',
 'м. Улица Старокачаловская ',  
 'м. Улица Академика Янгеля ' ,'м. Зябликово ', 'м. Улица Академика Королева '  ,'м. Улица Милашенкова ' ,'м. Выхино ',
 'м. Юго-Восточная ', 'м. Лермонтовский проспект ' ,'м. Жулебино ',
  'м. Белокаменная ' ,'м. Преображенская площадь ',
 'м. Бульвар Рокоссовского ' ,'м. Некрасовка ',
  'м. Новохохловская ', 'м. Нижегородская ',
 'м. Стахановская ', 'м. Курьяново ' ,'м. Калитники ',
 'м. Народное ополчение ', 'м. улица Народного ополчения ' ,'м. Хорошево ',
 'м. Балтийская ' ,'м. Телецентр ',  'м. Зюзино ',
  'м. Яхромская ', 'м. Бескудниково ',
 'м. Новоясеневская ' ,'м. Ясенево ' ,'м. Битцевский парк ',
 'м. Теплый Стан ', 'м. Беляево ', 'м. Коньково ','м. Мичуринский проспект ' ,'м. Минская ' ,'м. Славянский бульвар ',
 'м. Озерная ', 'м. Давыдково ' ,'м. Аминьевская ', 'м. Раменки ',
 'м. Проспект Вернадского ', 'м. Щелковская ' ,'м. Локомотив ',
 'м. Первомайская ' ,'м. Черкизовская ' ,'м. Измайловская ',
 'м. Бабушкинская ', 'м. Свиблово ' ,'м. Медведково ' ,'м. Багратионовская ',
  'м. Ломоносовский проспект ', 'м. Юго-Западная ',
 'м. Рабочий поселок ' ,'м. Калужская ', 'м. Кунцевская ', 'м. Кутузовская ',
 'м. Говорово ', 'м. Молодежная ' ,'м. Новые Черемушки ' ,'м. Сетунь ',
 'м. Выставочная ', 'м. Университет ' ,'м. Крылатское ' ,'м. Шелепиха ',
 'м. Студенческая ' 'м. Фили ' 'м. Тропарево ' 'м. Филевский парк '
 'м. Новаторская ' ,'м. Новопеределкино ' ,'м. Солнцево '  ,'м. Измайлово ',
 'м. Шоссе Энтузиастов ' ,'м. Лефортово ', 'м. Партизанская ',
 'м. Панфиловская ', 'м. Стрешнево ' ,
 'м. Покровское-Стрешнево ', 'м. Полежаевская ' ,'м. Аэропорт ',
 'м. Площадь Гагарина ', 'м. Битца ', 'м. Южная ',
 'м. Москворечье ', 'м. Митино ' ,'м. Волоколамская ', 'м. Пятницкое шоссе ',
 'м. Люблино ', 'м. Братиславская ', 'м. Перерва ',
 'м. Волжская ', 'м. Кубанская ', 'м. Котельники ' ,'м. Марьино ',
 'м. Планерная ', 'м. Речной вокзал ', 'м. Сходненская ' ,'м. Кузьминки',
 'м. Окская ', 'м. Рязанский проспект ' ,'м. Текстильщики ', 'м. Коптево'
 'м. Красный Балтиец ', 'м. Войковская ' ,'м. Окружная ',
 'м. Петровско-Разумовская ', 'м. Лихоборы ', 'м. Верхние Лихоборы ',
 'м. Сокол ' ,'м. Водный стадион ', 'м. Борисово ' ,'м. Отрадное ',
 'м. Владыкино ', 'м. Бибирево ' ,'м. Дегунино ' ,'м. Строгино ',
 'м. Мякинино ', 'м. Щукинская ' ,'м. Тушинская ' ,'м. Беломорская ',
 'м. Улица Сергея Эйзенштейна ' , 'м. Нагорная ', 'м. Нахимовский проспект ',
 'м. Каширская ', 'м. Крымская ' ,'м. Верхние котлы ',
 'м. Красногвардейская ' ,'м. Домодедовская ' 'м. Лесопарковая ',
 'м. Севастопольская ' ,'м. Покровское '  'м. Аннино ', 'м. Красный Балтиец ', 'м. Коптево ',
 'м. Варшавская ', 'м. Нагатинская '  'м. Шипиловская ' 'м. Кантемировская ' 'м. Орехово ',
  'м. Чертановская ', 'м. Каховская ', 'м. Международная '  ]
Suburban=['м. Марк ', 'м. Щербинка ', 'м. Новодачная ',
           'м. Долгопрудная ', 'м. Косино ', 'м. Сколково ', 'м. Немчиновка ', 'м. Павшино ', 'м. Пенягино ', 'неизвестно']
Outskirts[20]
Stations=[Centr, Subcentr, Outskirts, Suburban]
Kateg=[4,3,2,1]
Centrdictionary = dict.fromkeys(Centr, 4)
Urbdictionary = dict.fromkeys(Subcentr, 3)
Outsdictionary = dict.fromkeys(Outskirts, 2)
Subusdictionary = dict.fromkeys(Suburban, 1)
merged_dict = {**Centrdictionary, **Urbdictionary, **Outsdictionary, **Subusdictionary}

In [88]:
#estate['Metro_new'] = metro['Product'].map(dict1)
metro=estate[estate["Адрес"]. str.contains ("Москва")][['Unnamed: 0','Метро']]
metro[['название станции', 'удаленность']] = metro['Метро'].str.split('(', expand=True)
metro['удаленность'] = metro['удаленность'].str.replace(r'\)$', '')
metro[['минуты', 'тип_транспорта']] = metro['удаленность'].str.split(" мин ", expand=True)

/tmp/ipykernel_9623/3943560901.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  metro['удаленность'] = metro['удаленность'].str.replace(r'\)$', '')

In [89]:
estate['Округ'] = metro['название станции'].map(merged_dict)
estate.fillna('неизвестно')
estate.loc[~estate['Округ'].isin(Kateg), 'Округ'] = 1
estate['Округ'].isnull().mean() * 100

0.0

Переходим к созданию нового датафрейма:

In [90]:
data=estate[['ID  объявления',
       'Площадь, м2', 'Парковка', 'Цена', 'Ремонт',
       'Балкон',
       'Можно с детьми/животными',
       'Лифт', 'Мусоропровод',
       'Количество комнат (число)', 'этажность',
       'этаж', 'Округ']]
data.head()

,ID объявления,"Площадь, м2",Парковка,Цена,Ремонт,Балкон,Можно с детьми/животными,Лифт,Мусоропровод,Количество комнат (число),этажность,этаж,Округ
0,271271157,200.0/20.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,"Можно с детьми, Можно с животными","Пасс (4), Груз (1)",Да,4,16,5,4.0
1,271634126,198.0/95.0/18.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,Можно с детьми,"Пасс (1), Груз (1)",Нет,4,16,5,4.0
2,271173086,200.0/116.0/4.0,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,NaN,Можно с детьми,Пасс (1),NaN,4,16,5,4.0
3,272197456,170.0/95.0/17.0,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,NaN,Можно с животными,Пасс (1),NaN,4,6,5,4.0
4,273614615,58.0/38.0/5.0,NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,NaN,NaN,"Пасс (1), Груз (1)",Да,2,26,12,4.0

Проверяем на процентное соотношение нанов в датьафрейме:

In [91]:
data.isnull().mean() * 100

ID  объявления                0.000000
Площадь, м2                   0.000000
Парковка                     56.614480
Цена                          0.000000
Ремонт                       12.479100
Балкон                       33.591731
Можно с детьми/животными     24.902467
Лифт                         21.239297
Мусоропровод                 40.568475
Количество комнат (число)     2.710645
этажность                     0.000000
этаж                          0.000000
Округ                         0.000000
dtype: float64

На текущем этапе заменяем все пропуски данных на 'неизвестно' и проверяем:

In [92]:
data = data.fillna('неизвестно')
data.isnull().mean() * 100

ID  объявления               0.0
Площадь, м2                  0.0
Парковка                     0.0
Цена                         0.0
Ремонт                       0.0
Балкон                       0.0
Можно с детьми/животными     0.0
Лифт                         0.0
Мусоропровод                 0.0
Количество комнат (число)    0.0
этажность                    0.0
этаж                         0.0
Округ                        0.0
dtype: float64

Переводим все столбцы в латиницу:

In [93]:

rename_dict = {'ID  объявления':'ID', 'Количество комнат (число)':'Number_of_rooms', 'Тип':'Type', 'Метро':'Metro',
 'Адрес':'Address', 'Площадь, м2':'Area_apartment', 'Дом':'House', 'Парковка':'Parking', 'Цена':'Price', 'Телефоны':'Phones', 'Описание':'Description_room',
 'Ремонт':'Repair', 'Площадь комнат, м2':'Room_area', 'Балкон':'Balcony', 'Окна':'Windows', 'Санузел':'Bathroom', 'Можно с детьми/животными':'Possible_children_animals',
 'Дополнительно':'Additionally', 'Название ЖК':'Name_residential_complex', 'Серия дома': 'House_series', 'Высота потолков, м':'Ceiling_height', 'Лифт':'Elevator',
 'Мусоропровод':'Garbage', 'Ссылка на объявление':'Link','Описание комнат': 'Description_rooms',
    'этажность': 'Floors',
    'тип дома': 'House_type',
    'этаж': 'Floor',
    'название станции': 'Station_name',
    'минуты': 'Minutes',
    'тип_транспорта': 'Transport_type', 'Округ': 'District'}
data.rename(columns=rename_dict, inplace=True)
data.columns

Index(['ID', 'Area_apartment', 'Parking', 'Price', 'Repair', 'Balcony',
       'Possible_children_animals', 'Elevator', 'Garbage', 'Number_of_rooms',
       'Floors', 'Floor', 'District'],
      dtype='object')

редактируем колонку площадь

In [94]:
data['Area_apartment']=data['Area_apartment'].str.split('/').str[0].astype(float)

проверяем:

In [95]:
data['Area_apartment'].astype

<bound method NDFrame.astype of 0        200.0
1        198.0
2        200.0
3        170.0
4         58.0
         ...
23363     35.0
23364     38.7
23365     43.1
23366     52.5
23367     90.0
Name: Area_apartment, Length: 19737, dtype: float64>

In [96]:
data['Area_apartment'].isnull().mean() * 100

0.0

Редактируем столбец с ценами, оставляем только цену за месяц:
Так же мы увидели, что некоторые ячейки содержат цену в долларах, поэтому написали функцию конвертации

In [97]:
import string
# data['Price']=data['Price'].str.split('руб.', expand=True)[0].str.strip().astype(float)
def convert_price(price):
    price = price.translate(str.maketrans("", "", string.punctuation)).lower().strip()
    if "$" in price:
        return float(price.split('$')[0].strip())*75
    elif 'руб' in price:
        return float(price.split('руб')[0].strip())
    elif "€" in price:
        return float(price.split('€')[0].strip())*85
    else:
        return None
data['Price'] = data['Price'].apply(convert_price)

проверяем:

In [98]:
data['Price'].astype

<bound method NDFrame.astype of 0        5000000.0
1        5000000.0
2        5000000.0
3        4000000.0
4        2250000.0
           ...
23363     420000.0
23364     450000.0
23365     500000.0
23366     550000.0
23367     570000.0
Name: Price, Length: 19737, dtype: float64>

In [99]:
data['Price'].isnull().mean() * 100

0.07093276587120637

После конвертирования цен у нас появилась незначительная доля нанов, смотрим сколько их именно:

In [100]:
data['Price'].isna().sum()

14

Поскольку их всего 14 из 23тыс строк, этими строками мы можем просто пренебречь.

In [101]:
data.dropna(subset=['Price'], inplace=True)

In [102]:
data['Price'].isna().sum()

0

к парковке мы применяем следующую логику: если есть данные по парковке, то значение 1, если нет - то 0

In [103]:
data['Parking']=data['Parking'] = data['Parking'].apply(lambda x: 0 if x == 'неизвестно' else 1)

проверяем

In [104]:
data['Parking'].astype

<bound method NDFrame.astype of 0        1
1        1
2        1
3        1
4        0
        ..
23363    0
23364    0
23365    0
23366    1
23367    0
Name: Parking, Length: 19723, dtype: int64>

обрабатываем столбец ремонт

In [105]:
type_Repair={'Дизайнерский':4, 'Евроремонт':3, 'Косметический':2, 'Без ремонта':0, 'неизвестно':1}
data['Repair'] = data['Repair'].replace(type_Repair)

Проверяем:

In [106]:
data['Repair'].isna().sum()

0

In [107]:
data['Repair'].astype

<bound method NDFrame.astype of 0        4
1        4
2        3
3        3
4        3
        ..
23363    3
23364    3
23365    4
23366    3
23367    2
Name: Repair, Length: 19723, dtype: int64>

Балконы, лифты и мусоропровод: та же логика, что и с парковкой - есть есть информация - 1, если ее нет - 0.

In [108]:
data['Balcony']=data['Balcony'] = data['Balcony'].apply(lambda x: 0 if x == 'неизвестно' else 1)

In [109]:
data['Elevator']=data['Elevator'] = data['Elevator'].apply(lambda x: 0 if x == 'неизвестно' else 1)

In [110]:
data['Garbage']=data['Garbage'] = data['Garbage'].apply(lambda x: 0 if x == 'неизвестно' or x=='нет' else 1)

Обрабатываем возможность размещения с детьми и/или животными

In [111]:
type_stay={'Можно с детьми, Можно с животными':4, 'Можно с детьми':3, 'Можно с животными':2, 'неизвестно':1}
data['Possible_children_animals'] = data['Possible_children_animals'].replace(type_stay)

In [112]:
# for pclass in range(1, 4):
#     for sex in ['female', 'male']:
#         print('Медианный возраст в Pclass {} {}s: {}'.format(pclass, sex, age_by_pclass_sex[sex][pclass]))
# print('Медианный возраст всех пассажиров: {}'.format(data['Age'].median()))
sq_by_rooms = data.groupby(['Number_of_rooms'])['Area_apartment'].median()
print(sq_by_rooms)

Number_of_rooms
1              38.0
2              52.0
3              80.0
4             145.0
5             205.0
6             329.0
неизвестно     25.0
Name: Area_apartment, dtype: float64

In [113]:

conditions = [    (data['Area_apartment'] < 52), 
    (data['Area_apartment'] >= 52) & (data['Area_apartment'] < 80), 
    (data['Area_apartment'] >= 80) & (data['Area_apartment'] < 145), 
    (data['Area_apartment'] >= 145) & (data['Area_apartment'] < 205), 
    (data['Area_apartment'] >= 205) & (data['Area_apartment'] < 329), 
    (data['Area_apartment'] >= 329), 
] 
values = [1, 2, 3, 4, 5, 6] 
data['Number_of_rooms'] = np.where(data['Number_of_rooms']=='неизвестно',  
                                   np.select(conditions, values, default='неизвестно'), 
                                   data['Number_of_rooms'])

Проверяем,не осталось ли незаполненных значений

In [114]:
data['Number_of_rooms'].value_counts()

2    7420
1    7175
3    3668
4    1008
5     330
6     122
Name: Number_of_rooms, dtype: int64

In [115]:
data['Number_of_rooms'].astype(int)
data['Floor'].astype(int)
data['Floors'].astype(int)

0        16
1        16
2        16
3         6
4        26
         ..
23363    14
23364    18
23365     5
23366    23
23367    23
Name: Floors, Length: 19723, dtype: int64

In [117]:
data.head()

,ID,Area_apartment,Parking,Price,Repair,Balcony,Possible_children_animals,Elevator,Garbage,Number_of_rooms,Floors,Floor,District
0,271271157,200.0,1,5000000.0,4,0,4,1,1,4,16,5,4.0
1,271634126,198.0,1,5000000.0,4,0,3,1,1,4,16,5,4.0
2,271173086,200.0,1,5000000.0,3,0,3,1,0,4,16,5,4.0
3,272197456,170.0,1,4000000.0,3,0,2,1,0,4,6,5,4.0
4,273614615,58.0,0,2250000.0,3,0,1,1,1,2,26,12,4.0

In [119]:
data.to_csv('data.csv', index=False)